

ul {
	list-style-type: none;
	vertical-align: text-top;
	padding-top: 5px;
}

li label {
	display: inline;
	color: black;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

strong {font-size:16px; font-weight:bold; color:#58595b}
p {font: 12px sans-serif; color:#555;}

.optiontitle {font-size: 12px; font-weight:bold; color:#58595b}
textarea {HEIGHT: 100px; WIDTH: 100%; resize: none; font-family: sans-serif;}
.businessimpact {float: left; padding-right: 7px;}

.multipropertyheaderrow {border: 1px solid #91B0D5; font: 18pt sans-serif; color: #2573c1;}
.multipropertyfooterrow {border: 1px solid #91B0D5;}
.multipropertyrow {border: 1px solid #91B0D5;}

.singlepropertyrow {border: 1px solid #91B0D5;}

.propertylabel {border: none;font-weight:bold;color:#58595b;width:1%;}
.propertyheader {border: none; color:#58595b; font-weight:bold; font-size:12px;}
.propertycontent {border: none; color: black;}
.propertycontent select input {margin:3px 0;}
.propertytextinput {margin:3px 0;}

.two-col-section .sectionheader {background:none; border:none;}
.one-col-section .sectionheader {background:none; border:none;}

.sectionheader { font: 14px sans-serif; color:#fff; font-weight:bold; text-align:left; border-bottom:1px solid #fff; height:26px; background: url("section_header_bg.gif") repeat-x 0 0 ;}
.sectionheader {font-size:14px; }
.title {font-size: 40px; font-weight:bold; color:#6593c3;}

.contactinput {width: 100%; clear: left;}

table {	border:1px solid #e8e8e8; margin: 5px 0 5px 0; padding:0px ;width:100%; background-color:#f1f5fa;}

td {text-align: left; margin-left:0px; padding:0 3px 0 5px; font:9pt sans-serif; white-space: nowrap;}
th {text-align: center; margin-left:0px; padding:0 3px 0 1px; font:11pt sans-serif; white-space: nowrap; border: 1px solid black; color: black;}
tr {height: auto; padding: 0px;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdowncontent a {
  color: black;
  background-color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent p:hover {background-color: #ddd}
